@import url('https://fonts.googleapis.com/css2?family=Aleo:ital,wght@0,300;0,400;0,700;1,400&family=Montserrat:wght@400;700&family=Rhodium+Libre&family=Trocchi&family=Alice&family=Josefin+Slab:wght@200;300;400&family=Arbutus+Slab&family=Cutive&family=Figtree:wght@400;700&family=Belgrano&family=Zilla+Slab:ital,wght@0,300;0,400;1,300;1,400&family=Podkova:wght@400;600&display=swap&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --land-blue: rgb(53, 146, 216);
  --land-light-grey: #f3f3f3;
  --land-med-grey: #aaa;
  --land-dark-grey: #717171;
  --form-element-disabled: #959495;
  /* --land-red: #f64446; */
  --land-red: #f04646;
  --land-purple: #776DBF;
  /* --progress: #d3485b; */
  /* --progress-light: #f4e9ea; */
  --progress: #ffb90f;
  --bill-outline: #ddd;
}
body {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: 'Figtree', sans-serif;
  font-size: 16px;
  color: #212121;
  /* background-color: var(--land-light-grey); */
}
main {
  width: 90%;
  /* border: 1px solid #ddd; */
  margin: auto;
  /* font-size: 24px; */
  padding: 35px 0;
}

#intro {
  text-align: center;
  max-width: 550px;
  margin: 0 auto 30px auto;
}
#intro h1 {
  /* font-family: 'Podkova', serif; */
  /* font-family: 'Alice', serif; */
  /* font-family: 'Cutive', serif; */
  /* font-family: 'Belgrano', serif; */
  font-weight: 700;
  /* font-style: italic; */
  /* font-weight: 700; */
  /* font-style: italic; */
  font-size: 3.5em;
  line-height: 1.15em;
  margin-bottom: 12px;
}
#intro p {
  font-size: 1.2em;
}
#intro button, #more button {
  padding: .75em 1.2em;
  letter-spacing: .1em;
  margin: 25px 0;
  border: 2px solid black;
  background-color: white;
}
#intro button:hover, #more button:hover {
  color: white;
  background-color: black;
}
.tab-section {
  display: flex;
  width: 100%;
  /* flex-direction:row-reverse; */
  flex-direction:row;
  /* justify-content: space-between; */
}

.tab-section-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
}
#legislators {
  display: none;
}

.bill {
  border: 1px solid var(--bill-outline);
  /* border: 2px solid var(--land-light-grey); */
  /* border: 1px solid #ddd; */
  line-height: 1.6em;
  position: relative;
  display: flex;
  width: 100%;
  /* flex-direction:row-reverse; */
  flex-direction:row;
  /* border-radius: 16px; */
  /* box-shadow: 4px 4px 3px -1px rgba(0,0,0,0.05);
  -webkit-box-shadow: 4px 4px 3px -1px rgba(0,0,0,0.05);
  -moz-box-shadow: 4px 4px 3px -1px rgba(0,0,0,0.05); */
  -webkit-box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.06); 
  box-shadow: 4px 4px 4px -2px rgba(0,0,0,0.06);
}
.bill-summary ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 15px;
}

/* try creating a 100% width element that JUST wraps around the progress bar. */

.bill-main {
  padding: 25px 45px 50px 45px;
  /* padding: 40px 32px; */
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.bill-sidebar {
  width: 230px;
  margin: 30px 0;
  padding: 0 30px 0 30px;
  height: calc(100% - 60px);
  /* padding: 25px 45px 25px  */
  /* background-color: var(--land-light-grey); */
  align-self: start; 
  /* background-image: url(./icons/herringbone2.svg); */
  border-left: 1px dashed var(--bill-outline);
  /* background-repeat: repeat-y; */
  /* background-position: left; */
  /* background-size: 7px; */
  display: flex;
  flex-direction:column;
}

.bill-sidebar .sidebar-icons{
  display: flex;
  flex-direction: column;

}

.bill .icon-plus-text {
  display: flex;
  align-items: center;
  /* border: 1px solid black; */
}

.bill .icon-plus-text+.icon-plus-text {
  margin-top: 14px;
}

.bill .icon {
  /* background-color: red; */
  /* border: 1px solid black; */
  height: 34px;
}

.bill-mobile-sidebar {
  display: none;
}

.bill-mobile-sidebar .text, .bill-sidebar .text {
  /* background-color: green; */
  /* border: 1px solid black; */
  /* height: 30px; */
  color: var(--land-dark-grey);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: .03em;
  font-size: 0.78em;
  margin-left: 10px;
  line-height: 1.2em;;
}

.tag-section {
  display: none;
  margin-top: 50px;
}
.bill .tag-list-header {
  font-weight: bold;
  /* margin-bottom: 1em; */
  font-size: .8em;
  color: var(--land-dark-grey);
}
.bill .tag-section {
  /* display: flex; */
  flex-direction: column;
}
.bill .tag-section ul {
  /* list-style-type: none; */
  /* padding: 8px 12px; */
  margin: 0;

  padding-inline-start: 0;
  margin-block-start: .5em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;

  color: var(--land-dark-grey);
  /* display: flex;
  flex-direction: column; */
}

.bill .tag-section li {
  width: fit-content;
  list-style-type: none;
  padding: 3px 15px;
  margin: 4px 0;
  border-radius: 18px;
  line-height: 2em;
  /* border: 1px solid black; */
  background-color: var(--land-light-grey);
  /* display: inline-block; */
  color: var(--land-dark-grey);
  font-size: .85em;
}
.bill .tag-section .tag-list li:not(:last-child) {
  margin-bottom: 10px;
}


.bill .bill-number {
  color: var(--land-blue);
  display: inline-block;
  /* margin-bottom: 8px; */
  margin-right: 12px;
  text-decoration: none;
}
.bill .bill-number:hover {
  text-decoration: underline;
}
.bill a[target="_blank"].bill-number::after {
  color: var(--land-blue);
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0px 3px 0px 5px;
}

.bill + .bill {
  margin-top: 26px;
}
.bill p + p {
  margin-top: 1em;
}
.bill .bill-label {
  font-size: .8em;
  letter-spacing: .1em;
  color: #888;
}

.bill .bill-summary .bill-label {
  font-size: 1.4em;
  letter-spacing: 0em;
  /* color: var(--land-dark-grey); */
  color: black;
  /* font-style: italic; */
  font-weight: bold;
  font-family: 'Podkova', serif;
  /* font-family: 'Alice', serif; */
  /* font-family: 'Cutive', serif; */
  /* font-family: 'Belgrano', serif; */
  /* font-family: ; */
}

.bill .title {
  /* font-family: 'Podkova', serif; */
  /* font-family: 'Alice', serif; */
  /* font-family: 'Cutive', serif; */
  /* font-family: 'Belgrano', serif; */
  font-weight: 700;
  /* font-style: italic; */
  font-size: 2.2em;
  line-height: 1.3em;
  margin-bottom: 12px;
  margin-top: 8px;
}
.bill .sponsor {
  /* font-family: 'Podkova', serif; */
  /* font-family: 'Alice', serif; */
  /* font-family: 'Cutive', serif; */
  /* font-family: 'Belgrano', serif; */
  font-weight: 700;
  font-size: 1.2em;
  display: inline-block;
}
.bill .sponsor.democrat {
  color: var(--land-blue)
}
.bill .sponsor.republican {
  color: var(--land-red)
}
.bill .sponsor.independent {
  color: var(--land-dark-grey)
}
.bill .cosponsor-quantity {
  display: inline-block;
  margin-left: 8px;
}
.bill .bill-summary {
  padding-top: 16px;
  display: none;
  margin-bottom: 16px;
  overflow: hidden;
  /* max-height: 200px; */
  /* max-height: 0px; */
  /* transition: max-height 0.5s ease-out; */
  /* -moz-transition: max-height 0.5s ease-out;
  -ms-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  -webkit-transition: max-height 0.5s ease-out; */
}
.bill .bill-header {
  padding-bottom: 16px;
}
.bill .bill-showhide {
  font-size: 0.85rem;
  letter-spacing: .05em;
  position:absolute;
  bottom: 0px;
  left: 45px;
  font-weight: bold;
  /* border: 2px solid black; */
  /* border: 2px solid #999; */
  padding: 4px 18px 2px 18px;
  border: none;
  /* background-color: none; */
  /* background-color: #000;
  color: white; */
  /* background-color: #888; */
  background-color: var(--land-blue);
  color: white;
  /* border-radius: 12px 12px 0 0; */
  cursor: pointer;
  border-bottom: none;
}
.bill .bill-showhide:hover {
  background-color: black;
  /* border: 2px solid black; */
  color: white;
  border: none;
  /* border-bottom: 2px solid white; */
  /* background-color: var(--land-light-grey); */
}
.bill .bill-showhide:hover svg {
  stroke: white;
}
.bill .bill-showhide svg {
  /* fill: red; */
  stroke: white;
  transform: translate(2px,-2px);
  -ms-transform: translate(2px,-2px); /* IE 9 */
  -webkit-transform: translate(2px,-2px); /* Safari and Chrome */
  -o-transform: translate(2px,-2px); /* Opera */
  -moz-transform: translate(2px,-2px); /* Firefox */
}
.bill .bill-showhide.active svg {
  /* fill: red; */
  /* stroke: red; */
  transform: rotate(180deg) translate(-2px,2px);
  -ms-transform: rotate(180deg) translate(-2px,2px);
  -webkit-transform: rotate(180deg) translate(-2px,2px);
  -o-transform: rotate(180deg) translate(-2px,2px); 
  -moz-transform: rotate(180deg) translate(-2px,2px); 
}
.companion-bill {
  display: inline-block;
  color: #888;
  /* line-height: .1em; */
}
#filters{
  width: 260px;
  background-color: var(--land-light-grey);
  padding: 40px 32px;
  /* border-radius: 16px; */
  /* font-family: system-ui, sans-serif; */
  font-size: 1rem;
  /* font-weight: bold; */
  line-height: 1.1;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-self: start; 

  /* border: 2px dotted #ddd; */
  /* line-height: 1.6em; */
  /* position: relative; */
  /* padding: 45px 45px 55px 45px; */

  /* box-shadow: 4px 4px 3px -1px rgba(0,0,0,0.05); */
  /* -webkit-box-shadow: 4px 4px 3px -1px rgba(0,0,0,0.05); */
  /* -moz-box-shadow: 4px 4px 3px -1px rgba(0,0,0,0.05); */
}
#filters h3 {
  display: none;
}
#filters form {
  color: #555;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding: 1px;
  /* border: 1px solid currentColor; */
  background-color: white;
  border: 0.15em solid rgba(0,0,0,.2);
  border-radius: 5px;
  margin-bottom: 32px;
  /* position: relative; */
}
#filters input[type="search"] {
  border: none;
  background: transparent;
  /* margin: 0 0 0 0; */
  padding: 7px 8px;
  font-size: 14px;
  color: inherit;
  border: 1px solid transparent;
  border-radius: inherit;
  /* flex: 1; */
  width: 90%;
}

#filters input[type="search"]::placeholder {
  color: #bbb;
}

#filters button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
  /* position: absolute;
  right: 0px;
  top: 7px; */
}

#filters button[type="submit"]:hover {
  opacity: 1;
}

#filters input[type="search"]:focus {
  outline: none;
}
#filters button[type="submit"]:focus {
  /* box-shadow: 0 0 3px 0 #1183d6; */
  /* border-color: #1183d6; */
  /* outline: none; */
  outline: max(2px, 0.15em) solid rgba(0,0,0,.25);
  outline-offset: none;
}
/* #filters hr {
  border: 1px dashed;
  color: #ddd;
  margin: 1.7em 0px;
} */
#clear-filters {
  display: block;
  color: var(--land-blue);
  text-decoration: underline;
  margin-top: 2em;
}

.filter-section-group + .filter-section-group {
  margin-top: 2em;
}


#filters .filter-section a:hover {
  /* color: black; */
}

.filter-section + .filter-section {
  margin-top: 2em;
}
.filter-section.rule {
  padding-top: 1.6em;
  margin-top: 1.6em;
  border-top: 2px dotted #ccc;
}
.filter-section-title {
  font-weight: bold;
  margin-bottom: 1em;
  font-size: .8em;
}

.filter-check {
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}

.filter-check + .filter-check {
  margin-top: .8em;
}
.filter-check span {
  display: inline-block;
  margin-top: -1px;
  line-height: 1.2em;
  margin-left: .2em;
}

.filter-check--disabled {
  color: var(--form-element-disabled);
  cursor: not-allowed;
}
#filters #close-filters {
  display: none;
}

#filters input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--form-background);
  margin: 0;

  font: inherit;
  color: currentColor;
  background-color: white;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid rgba(0,0,0,.2);
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}

#filters input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--land-blue);
  background-color: CanvasText;
}

#filters input[type="checkbox"]:checked::before {
  transform: scale(1);
}

#filters input[type="checkbox"]:focus {
  outline: max(2px, 0.15em) solid rgba(0,0,0,.25);
  /* outline: max(2px, 0.15em) solid var(--land-blue); */
  /* outline: max(2px, 0.15em) solid currentColor; */
  outline-offset: none;
  /* outline-offset: max(2px, 0.15em); */
}

#filters input[type="checkbox"]:disabled {
  --land-blue: var(--form-element-disabled);

  color: var(--form-element-disabled);
  cursor: not-allowed;
}
#filters label span:hover {
  text-decoration: underline;
}
#filters input[type="checkbox"]:disabled + span {
  color: var(--form-element-disabled);
}
#filters input[type="checkbox"]:disabled + span:hover {
  text-decoration: none;
}

/* Style the tab */
#tabs {
  overflow: hidden;
  /* border-bottom: 1px solid #ccc; */
  /* border-bottom: 2px dotted #ddd; */
  /* background-color: #f1f1f1; */
  margin-bottom: 32px;
}

/* Style the buttons that are used to open the tab content */
#tabs button {
  background-color: inherit;
  float: left;
  /* border: 1px solid #ccc;  */
  border: none; 
  /* border-radius: 10px 10px 0 0; */
  border-bottom: none;
  outline: none;
  cursor: pointer;
  padding: 6px 12px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
#tabs button:hover {
  background-color: var(--land-light-grey);
}
/* Create an active/current tablink class */
#tabs button.active {
  /* background-color: #999; */
  color: black;
  border-bottom: 2px dashed black;
}
/* #bills li + li {
  margin-top: 0.8em;
} */
.bill-summary li + li {
  margin-top: 0.8em;
}

.bill-summary {
  margin-block-start: 0;
  padding-inline-start: 0;
}

.bill-section-spacer {
  margin-top: 28px;
}

.bill-progress {
  display: block;
  margin-top: 16px;
}

.bill-progress ul {
  /* margin-top: 12px; */
  font-size: .75em;
  list-style-type: none;
  /* border: 1px solid; */
  /* border-radius: 10%; */
  padding: 8px 12px;
  margin-block-start: 0;
  padding-inline-start: 0;
  display: block;
}

.bill-progress li {
  /* display: inline-block; */
  /* border: 1px solid; */
}

.bill-progress li {
  font-size: 1em;
  display: block;
  float: left;
  padding: 2px 14px 4px 24px;
  /* width: 6rem; */
  height: 22px;
  background: #fff;
  /* color: #767676; */
  line-height: 1rem;
  text-align: center;
  border: 1px solid #8f8f8f;
  position: relative;
}

.bill-progress li:not(:last-child) {
  border-right: 0;
}

.bill-progress li:not(:first-child) {
  border-left: 0;
}

.bill-progress li:not(:last-child):after {
    content: '';
    position: absolute;
    top: 0;
    right: -11px;
    width: 21px;
    height: 21px;
    -webkit-transform: scale(0.707) rotate(45deg);
    -ms-transform: scale(0.707) rotate(45deg);
    transform: scale(0.707) rotate(45deg);
    border-radius: 0;
    z-index: 1;
    border-top: 1px solid;
    border-right: 1px solid;
}

.bill-progress li:last-child {
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}
.bill-progress li:first-child {
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

.bill-progress li.active:after,
.bill-progress li.active {
  background-color: var(--progress);
}

.cosponsors {
  margin-top: 32px;
  font-size: .85em;
}
.cosponsors-d-title, .cosponsors-r-title, .cosponsors-i-title {
  font-weight: bold;
  font-size: 1.3em;
  font-style: italic;
  display: inline-block;
  margin-right: 8px;
  font-family: 'Podkova', serif;
}
.cosponsors-d-title {
  color: var(--land-blue)
}
.cosponsors-r-title {
  color: var(--land-red)
}
.cosponsors-i-title {
  color: var(--land-dark-grey)
}
#show-filters {
  display: none;
}

.bill-progress-wrap {
  /* container: progress-wrapper / inline-size; */
  container-type: inline-size;
  container-name: progress-wrapper;
  /* resize: both;
  overflow: hidden; */
}
.spinner {
  font-size: 0.8em;
  display: flex;
  align-items: center;
  margin: auto;
}
#more {
  display: flex;
  align-items: center;
}
#more .spinner {
  /* display: inline-block; */
  margin: 0;
}
/* loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-right: 16px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--land-blue);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--land-blue) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
#more .lds-ring {
  width: 40px;
  height: 40px;
}

#more .lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid var(--land-blue);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--land-blue) transparent transparent transparent;
}
#more button {
  margin-right: 30px;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@container progress-wrapper (max-width: 730px) {
  .bill-progress ul:not(.container-query-polyfill) {
    font-size: .75em;
    padding: 8px 12px;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: block;
  }
  
  .bill-progress li:not(.container-query-polyfill) {
    padding: 2px 8px 4px 16px;
    height: 22px;
    background: white;
  }

  .bill-progress li.active:not(.container-query-polyfill):after,
  .bill-progress li.active:not(.container-query-polyfill) {
    background-color: var(--progress);
  }
  /* .filter-section-group + .filter-section-group {
    margin-left: 100px;
  } */

}

@container progress-wrapper (max-width: 650px) {
  .bill-progress ul:not(.container-query-polyfill) {
    font-size: .75em;
    padding: 8px 12px;
    margin-block-start: 0;
    padding-inline-start: 0;
    display: block;
  }
  
  .bill-progress li:not(.container-query-polyfill) {
    padding: 2px 8px 4px 15px;
    padding: 0;
    height: auto;
    /* height: 22px; */
    /* background: orange; */
    display: inline-block;
    border: none;
    /* line-height: 1.7em; */
    line-height: 2em;
    /* border-radius: none; */
    height: 130%;
    color: var(--land-dark-grey);
  }

  .bill-progress li:not(:last-child):not(.container-query-polyfill) {
    margin-right: 18px;
  }
  .bill-progress li:not(:last-child):not(.container-query-polyfill):after {
    content: '>';
    /* margin-left: 8px; */
    /* text-decoration: none;
    text-decoration-color: white; */
    border: none;
    background: none;
    -webkit-transform: scale(1) rotate(0deg);
    -ms-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
    position: absolute;
    right: -19px;
  }
  /* .bill-progress li.active:after, */
  .bill-progress li.active:not(.container-query-polyfill) {
    background-color: inherit;

    line-height: 2em;
    color: black;
  }
  .bill-progress li.active:not(.container-query-polyfill)::before {
    content: "";
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    height: 5px;
    background: linear-gradient(0deg, var(--progress) 0%, var(--progress) 100%);
  }
  .bill-progress li:first-child:not(.container-query-polyfill), .bill-progress li:last-child:not(.container-query-polyfill) {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  } 
}

@media (max-width: 1250px) {
  #filters {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    z-index: 100;
    border-radius: 0;
    padding: 60px 200px;
  }

  #filters #close-filters {
    display: inline-block;
    /* background-image: url(./icons/close.svg); */
    /* background-size: 25px 25px; */
    position:absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: .8em;
    /* font-weight: bold; */
    color: var(--land-dark-grey);
    letter-spacing: .1em;
  }
  #filters #close-filters img{
    width: 25px;
    height: 25px;
    margin-left: 8px;
  }
  /* #filters hr {
    border: 0px;
    margin: 1em 0;
  } */
  #show-filters-box {
    width: 100%;
  }
  #show-filters {
    display: block;
    /* display: none; */
    width: 140px;
    margin: auto;
    border: 2px solid var(--land-med-grey);
    background-color: var(--land-light-grey);
    padding: 8px 45px 8px 24px;
    border-radius: 10px;
    margin-bottom: 32px;
    font-size: 1.1em;
    cursor: pointer;
    background-image: url(./icons/caret-down.svg);
    background-repeat: no-repeat;
    background-position: calc(100% - 22px);
    background-size: 13px;
  }
  #show-filters:hover {
    background-color: var(--land-med-grey);
  }

  /* --------------- causing sidebar height problem!! */

  /* #tracker, #legislators have tab-section class */
  .tab-section {
    /* flex-direction:column; */
    /* flex: 1; */
    /* display: block; */
    flex-wrap: wrap;
  }
  /* .tab-section-inner {
    display: flex;
    flex-direction: column;
  } */
  #tracker.show-modal-filters #filters {
    display: block;
  }
  #tracker.show-modal-filters #bills {
    display: none;
  }
  .filter-section-group + .filter-section-group {
    margin-top: 0px;
  }
  /* .filter-section + .filter-section {
    margin-top: 2em;
  } */
  .filter-section.rule {
    /* padding-top: 1.4em; */
    margin-top: 2em;
    padding-top: 0;
    border: none;
  }
  #filter-sections {
    display: flex;
    justify-content: space-around;
  }
  #filters h3 {
    display: block;
    font-size: 1.6em;
    margin-bottom: 24px;
    font-family: 'Podkova', serif;
  }
  #clear-filters {
    text-align: center;
  }
}

/* @media (max-width: 450px) {

  #filters {
     padding: 60px 80px;
  }
  #filter-sections {
    display: flex;
    justify-content: space-between;
  }
} */

@media (max-width: 945px) {
  /* remove sidebars */
  .bill-main {
    padding-bottom: 40px;
  }
  .bill-sidebar {
    display: none;
  }

  .bill-mobile-sidebar {
    /* width: 230px; */
    /* margin: 6px 0; */
    padding: 4px 0 0 0;
    height: auto;
    /* padding: 25px 45px 25px  */
    /* background-color: var(--land-light-grey); */
    align-self: auto;
    /* background-image: url(./icons/herringbone2.svg); */
    border-left: none;
    border-top: 1px dashed var(--bill-outline);
    /* background-repeat: repeat-y; */
    /* background-position: left; */
    /* background-size: 7px; */
    display: flex;
    flex-direction: column;
  }
  .bill-mobile-sidebar .sidebar-icons{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  .bill-mobile-sidebar .text {
    margin-left: 3px;
  }
  .bill-mobile-sidebar .icon-plus-text+.icon-plus-text {
    margin-top:auto;
  }

  .bill-mobile-sidebar .icon-plus-text {
    max-width: 160px;
    margin: 16px 4px;
  }
 
  .bill-mobile-sidebar .tag-section {
    margin-top: 0px;
    width: 100%;
  }
  
  .bill-mobile-sidebar .tag-section .tag-list-header {
    display: inline-block;
  }
  
  .bill-mobile-sidebar .tag-section ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-inline-start: 0;
    margin-block-start: .2em;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
    color: var(--land-dark-grey)
  }
  .bill-mobile-sidebar .tag-section li {
    list-style-type: none;
    padding: 3px 15px;
    margin: 4px 0;
    border-radius: 18px;
    line-height: 2em;
    /* border: 1px solid black; */
    background-color: var(--land-light-grey);
    display: inline-block;
    color: var(--land-dark-grey);
    font-size: .85em;
  }
  .bill-mobile-sidebar .tag-section .tag-list li:not(:last-child) {
    margin: 4px 0;
    margin-right: 10px;
    /* margin: 4px 10px 0 4px; */
  }
}

@media (max-width: 900px) {
  #filters {
     padding: 60px 80px;
  }
  #filter-sections {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 700px) {
  #filters {
     padding: 60px 25px;
  }
}

@media (max-width: 530px) {
  .filter-section-group {
    max-width: 160px;
  }
}


